.mask {       
  background-color: #777;
  display: none;
  -moz-opacity:0.5;
  position: fixed;   
  z-index: 1002;
} 

.myHeader{
  color: white;
  font-size: 35px;
  padding-left: 100px;
  padding-top: 30px;
} 

.Tag{
  color: white;
  font-weight: bold;
}

.topP{
  background-color: black;
  font-weight: bold;
}

